/* Git Workflow Simulation Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #ff91e2;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}